---
import '../styles/global.css'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body class="bg-slate-950 text-slate-100 antialiased">
		<!-- <div class="box">Header</div> -->
		<slot />
		<!-- <div class="box">Footer</div> -->
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
	.box{
		display: flex;
		justify-content: center;
		justify-items: center;
		margin: auto;
		padding: 4rem;
		background-color: aqua;
	}

</style>
